/* background-color-wave: #0f3650 = #003153 */
/* color-wave: #4ecdb5 = #04D9B2 */





/*new colors*/
/*046482*/


/*073862c7*/




/*-----*/
/*00848d*/
/*04646a*/
/*03575c*/

/*010e1c*/


/*card*/
/*e4fffa*/

/*#00b18840*/

/*new colors*/

#home-content-section section {
    scroll-margin-top: 4rem;
}
section {
    /*scroll-padding-top: 0;*/
    scroll-margin-top: 100rem;
}

@font-face {
    font-family: proxima-nova;
    src: url("/fonts/proxima-nova-font.otf") format("opentype");
}
@font-face {
    font-family: arquitecta;
    src: url("/fonts/Arquitecta.otf") format("opentype");
}


/** {*/
/*    !*font-size: 100%;*!*/
/*    !*font-family: 'Poppins', sans-serif !important;*!*/
/*    font-family: 'proxima-nova',sans-serif !important;*/
/*    !*font-family: 'arquitecta',sans-serif !important;*!*/
/*    !*font-family: europa,sans-serif !important;*!*/
/*    !*font-family: "arquitecta",Arial,sans-serif !important;*!*/
/*    !*--primary-font: "proxima-nova",Arial,sans-serif;*!*/
/*    !*--secondary-font: "arquitecta",Arial,sans-serif;*!*/
/*}*/

.background-color-wave {
    background-color: #003153 !important;
}

.color-wave {
    color: #04D9B2 !important;
}

.secondary-color-wave {
    color: #04646a !important;
}
.danger-color-wave {
    color: #912b1a !important;
}

/*GREEN*/
/*#4CAF50*/
/*#35913A*/
/*border*/
/*#35913A*/

/*WAVE*/
/*#003152*/
/*#05d9b1*/
/*border*/
/*#04646a*/


/*In admin side bar*/
/*0f3650*/


/*button*/
/*#327478*/
/*borede*/
/*#35566a*/

/* BUTTONS START */
.button-color-wave {
    background-color: #04646a !important;
    /*border-color: #204d6a !important;*/
    /*border-color: #0f7865 !important;*/
    border-color: #04646a  !important;
    /*color: #d9d9d9 !important;*/
    color: #ffffff !important;
    font-weight: 700;
}

.danger-button-color-wave {
    /*background-color: #af2c1c !important;*/
    background-color: #912b1a  !important;
    border-color: #912b1a !important;
    /*color: #d9d9d9 !important;*/
    color: #ffffff !important;
}

.button-small-size {
    font-size: 12px;
    padding: 0 10px;
}
/* BUTTONS END */

.sidebar-item.active .sidebar-link:hover, .sidebar-item.active>.sidebar-link {
    background: linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.0875) 50%,transparent) !important;
    border-left-color: #04D9B2 !important;
    color: #04D9B2 !important;
}

.wave-check-input:checked,
.wave-check-input-disabled:checked {
    background-color: #04646a !important;
    border-color: #204d6a !important;
}

.wave-check-input-disabled:disabled {
    opacity: 1 !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    /*background-color: #e3ffe1;*/
    /*background-color: #cffbf3;*/
    background-color: #d9d9d9;
    /*background-color: #baefe5;*/
    cursor: pointer;
}

.wave-group-dates {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
    /*padding-inline: 15px;*/
}


.float-right {
    float: right;
}

.resetAll a {
    all: initial;
}

.resetAll * {
    all: unset
}

/*.wave-table-td-checkbox {*/
/*    horizontal-align: middle;*/
/*}*/


/* CALENDAR START */
.calendar-header {
    background-color: #003153;
    border-radius: 4px 4px 0 0;
}

.calendar-header h5 {
    color: #ffffff;
}

/*@media (max-width:575px) {*/
@media (max-width:991px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day {
        background-color: #ffffff;
        height: auto;
        border-color: #cdd9e5;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
    .hide-date {
        height: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
}

/*@media (min-width: 576px) {*/
@media (min-width: 992px) {
    .day {
        /*height: 14.2857vw;*/
        background-color: #ffffff;
        height: auto;
        border-color: #cdd9e5;
    }
    .hide-date {
        /*height: 0 !important;*/
        /*padding: 0 !important;*/
    }
}
/* CALENDAR END */

/* ADMIN CALENDAR MODAL START*/
.modal-header-close-button {
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
}
.modal-content {
    border-width: 0;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 65%) !important
}
.modal-header {
    color: #ffffff;
    font-size: 20px;
    background-color: #003153;
    padding: 10px 15px;
    /*border-radius: 4px;*/
}
.modal-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
}
.modal-info {
    font-size: 12px;
}

.modal-reservation-list {
    max-height: 200px;
    overflow: auto;
}
.modal-reservation-list > li {
    padding-left: 3px !important;
}
/* ADMIN CALENDAR MODAL END*/

/* ERROR MESSAGE ALERTS START*/
.message-alert {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}

.message-alert .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0;
    color: inherit;
    background-color: inherit;
    font-size: 25px;
    border: none;
}
/* ERROR MESSAGE ALERTS END */

/*admin-calendar-modal START*/
/*.b-dropdown-form > label {*/
/*    padding: 20px !important;*/
/*}*/

/*!*dropdown b-dropdown m-2 show btn-group*!*/


/*!*admin-calendar-modal END*!*/


/* LOADER START */
.spinner-size-default {
    width: 5rem;
    height: 5rem;
    margin: auto;
}
/* LOADER END */

/* DROP DOWN LOGIN START */
.dropdown-login .dropdown-toggle, .dropdown-login:hover .dropdown-toggle {
    background-color: inherit !important;;
    color: inherit !important;;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.dropdown-login .dropdown-menu {
    top: 25px !important;
    right: 0 !important;
    left:auto !important;
}

@media (max-width: 575px) {
    .dropdown-login .dropdown-menu {
        top: 40px !important;
    }
}
/* DROP DOWN LOGIN END */

/* REGISTER FORM START */
.input-group-prepend .input-group-text {
    border-radius: 3px 0 0 3px !important;
    /*height: 2.035rem !important;*/
    height: 2.3rem;
    /*background-color: #003153 !important;*/
    /*color: #04D9B2 !important;*/
    /*border-color: #04646a !important;*/

    background-color: #04646a !important;
    color: #ffffff !important;
    border-color: #04646a !important;

    width: 45px;
    /*font-weight: bolder !important;*/
    font-size: 1.15rem;
    padding: 0 !important;
}

.wave-input-dropdown-login {
    height: 1.5rem !important;
    border-color: #04646a !important;
    /*color: #04D9B2;*/
    color: #ffffff;
    background-color: #0c1f32 !important;
}

.wave-input {
    height: 2.3rem !important;
    border-color: #04646a !important;
    /*color: #04D9B2;*/
    color: #ffffff;
    background-color: #0c1f32 !important;
}

.wave-input-dropdown-login:focus,
.wave-input:focus {
    background-color: #0c1f32 !important;
    /*color: #04D9B2;*/
    color: #ffffff;
}

.wave-input-dropdown-login:-webkit-autofill,
.wave-input-dropdown-login:-webkit-autofill:focus,
.wave-input:-webkit-autofill,
.wave-input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

/* !*Change Autocomplete styles in Chrome*!*/
/*.wave-input:-webkit-autofill,*/
/*.wave-input:-webkit-autofill:hover,*/
/*.wave-input:-webkit-autofill:focus {*/
/*    -webkit-text-fill-color: #04D9B2 !important;;*/
/*    -webkit-box-shadow: 0 0 0 1000px #0c1f32 inset !important;*/
/*}*/

/*!* Change Autocomplete styles in Chrome*!*/
/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover,*/
/*input:-webkit-autofill:focus,*/
/*textarea:-webkit-autofill,*/
/*textarea:-webkit-autofill:hover,*/
/*textarea:-webkit-autofill:focus,*/
/*select:-webkit-autofill,*/
/*select:-webkit-autofill:hover,*/
/*select:-webkit-autofill:focus {*/
/*    !*background-color: #0c1f32 !important;*!*/
/*    !*color: #04D9B2;*!*/
/*    !*border: 1px solid green !important;;*!*/
/*    -webkit-text-fill-color: #04D9B2 !important;;*/
/*    -webkit-box-shadow: 0 0 0 1000px #0c1f32 inset !important;*/
/*    !*transition: background-color 5000s ease-in-out 0s !important;*!*/
/*}*/

/*.wave-input input[type=text]  {*/
/*    background-color: #0c1f32 !important;*/
/*}*/

/* REGISTER FORM END */

/* DROPDOWN LOGIN FORM START */
.dropdown-login .input-group-prepend .input-group-text {
    border-radius: 3px 0 0 3px !important;
    height: 1.65rem !important;
    background-color: #04646a !important;
    color: #ffffff !important;
    border-color: #04646a !important;
    width: 30px;
    font-size: 0.95rem;
    padding: 0 !important;
}

.dropdown-login ul {
    background-color: #0c1f32;
}

.dropdown-login hr {
    color: #04646a;
}

.dropdown-login li > button {
    color: #04D9B2;
}

.dropdown-login li > button:focus {
    background-color: #04646a;
    color: #04D9B2;
}

.dropdown-login li > button:hover {
    background-color: #04646a;
    color: #04D9B2;
}
/* DROPDOWN LOGIN FORM END */

/* STUDENT CALENDAR START */
.student-calendar {
    /*background-color: #0c1f32;*/
    border-color: #04646a !important;
}
.student-calendar-header {
    background-color: #003153;
    border-radius: 4px 4px 0 0;
    border: 1px solid;
    border-bottom: 0;
    border-color: #04646a !important;
}
.student-calendar-content {
    border-color: #04646a !important;
}
.student-calendar h5 {
    color: #04D9B2;
}
.student-calendar a {
    background-color: #04646a !important;
    font-size: 11.5px;
    position: relative;
    padding-right: 19px !important;
}
.student-calendar .day {
    background-color: #0c1f32;
    border-color: #04646a !important;
    border-left: 0 !important;
}
.student-calendar-day-border-right-0 {
    border-right: 0 !important;
}
.student-calendar-day-muted {
    /*background-color: #0e292a !important;*/
    /*background-color: #0c1616  !important;*/
    /*background-color: #1b252e  !important;*/

    /*background-color: #142330  !important;*/
    background-color: #010e1c  !important;
    /*background-color: #0c1f322e  !important;*/
    /*background-color: #000910  !important;*/

    /*background-color: #001526  !important;*/
}
.student-calendar-day-muted h5 {
    color: #04646a !important;
}
.reservation-status {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 900;
}
.reservation-status-reserved {
    color: #04D9B2;
}
.reservation-status-declined {
    color: #ff836f;
}

/*@media (max-width:575px) {*/
@media (max-width:991px) {
    .student-calendar .display-4 {
        font-size: 1.5rem;
    }
    .student-calendar .day {
        background-color: #0c1f32;
        height: auto;
        border-color: #04646a;
        border-right: 0 !important;
    }
    .student-calendar .day h5 {
        background-color: #0c1f32;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .student-calendar .date {
        padding-left: 4px;
    }
    .student-calendar .hide-date {
        height: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
}

/*@media (min-width: 576px) {*/
@media (min-width: 992px) {
    .student-calendar .day {
        background-color: #0c1f32;
        height: auto;
        border-color: #04646a;
    }
}
/* STUDENT CALENDAR END */

/* STUDENT CALENDAR MODAL START*/
#modal-student-calendar .modal-header-close-button {
    color: #04646a;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
}
#modal-student-calendar .modal-dialog {
    width: 300px;
    margin: auto;
    top: 120px;
}
#modal-student-calendar .modal-content {
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgb(0 0 0) !important;
}
#modal-student-calendar .modal-header {
    color: #ffffff;
    font-size: 20px;
    background-color: #003153;
    padding: 10px 15px;
    border-color: #04646a;
    border-radius: 4px 4px 0 0;
}
#modal-student-calendar .modal-body {
    background-color: #0c1f32;
}
#modal-student-calendar .modal-footer {
    background-color: #0c1f32;
    border-color: #04646a;
    border-radius: 0 0 4px 4px;
}
#modal-student-calendar .modal-title {
    font-weight: 600;
    font-size: 22px;
}
#modal-student-calendar .modal-info {
    font-size: 12px;
}
#modal-student-calendar .modal-info i {
    color: #a9a9a9;
}
#modal-student-calendar button {
    font-weight: 500;
}
#modal-student-calendar p,
#modal-student-calendar .modal-info b {
    color: #ffffff !important;
}
/* STUDENT CALENDAR MODAL END*/

/* DROPDOWN LOGIN START*/
#dropdown-form .b-dropdown-form {
    padding: 5px 10px;
}
/* DROPDOWN LOGIN END*/

/* PROFILE FORM START*/
.profile-form {
    padding: 5px 0 15px 0;
}
.profile-form label {
    color: #04D9B2;
    float: right;
    padding-top: 8px;
    margin: auto;
}
.profile-section span {
    color: #04D9B2;
    float: right;
    margin: auto;
}
.profile-form button {
    width: 40%;
}
.profile-subscription-info {
    /*color: #ffffff;*/
    color: #04D9B2;
}
.profile-subscription-info-no-subscription {
    color: #ff836f;
}
/* PROFILE FORM END*/

.cursor-wait {
    cursor: wait !important;
}

/*HOME*/
.main-home-page {
    /*position: relative;*/
    /*margin: 0;*/
    /*min-height: 100px;*/
}

.home-content {
    background-color: #010e1c;
    /*position: relative;*/
    /*margin: 0;*/
    /*min-height: 50px;*/
}

.home-content .card {
    /*background-color: #112132;*/
    background-color: #0c1f32;
}

.wave-content-padding-y {
    padding-top: 200px;
    padding-bottom: 100px;
}

.wave-content {
    width: 400px;
    margin: auto;
}
