/*.background-color-wave {*/
/*    background-color: #4ecdb5 !important;*/
/*}*/

.background-color-wave {
    background-color: #0f3650 !important;
}
.color-wave {
    color: #4ecdb5 !important;
}

/*GREEN*/
/*#4CAF50*/
/*#35913A*/
/*border*/
/*#35913A*/

/*WAVE*/
/*#003152*/
/*#05d9b1*/
/*border*/
/*#04646a*/


/*In admin side bar*/
/*0f3650*/


/*button*/
/*#327478*/
/*borede*/
/*#35566a*/


.color-wave {
    color: #4ecdb5 !important;
}

/* BUTTONS START */
.button-color-wave {
    background-color: #04646a !important;
    border-color: #204d6a !important;
    /*color: #d9d9d9 !important;*/
    color: #ffffff !important;
}

.danger-button-color-wave {
    background-color: #af2c1c !important;
    border-color: #912b1a !important;
    /*color: #d9d9d9 !important;*/
    color: #ffffff !important;
}

.button-small-size {
    font-size: 12px;
    padding: 0 10px;
}
/* BUTTONS END */

.sidebar-item.active .sidebar-link:hover, .sidebar-item.active>.sidebar-link {
    background: linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.0875) 50%,transparent) !important;
    border-left-color: #4ecdb5 !important;
    color: #4ecdb5 !important;
}

.wave-check-input:checked,
.wave-check-input-disabled:checked {
    background-color: #04646a !important;
    border-color: #204d6a !important;
}

.wave-check-input-disabled:disabled {
    opacity: 1 !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    /*background-color: #e3ffe1;*/
    /*background-color: #cffbf3;*/
    background-color: #d9d9d9;
    /*background-color: #baefe5;*/
    cursor: pointer;
}

.wave-group-dates {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
    /*padding-inline: 15px;*/
}


.float-right {
    float: right;
}

.resetAll a {
    all: initial;
}

.resetAll * {
    all: unset
}

/*.wave-table-td-checkbox {*/
/*    horizontal-align: middle;*/
/*}*/


/* CALENDAR START */
.calendar-header {
    background-color: #0f3650;
    border-radius: 4px 4px 0 0;
}

.calendar-header h5 {
    color: #ffffff;
}

/*@media (max-width:575px) {*/
@media (max-width:991px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day {
        background-color: #ffffff;
        height: auto;
        border-color: #cdd9e5;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
    .hide-date {
        height: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
}

/*@media (min-width: 576px) {*/
@media (min-width: 992px) {
    .day {
        /*height: 14.2857vw;*/
        background-color: #ffffff;
        height: auto;
        border-color: #cdd9e5;
    }
    .hide-date {
        /*height: 0 !important;*/
        /*padding: 0 !important;*/
    }
}
/* CALENDAR END */

/* ADMIN CALENDAR MODAL START*/
.modal-header-close-button {
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
}
.modal-content {
    border-width: 0;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 65%) !important
}
.modal-header {
    color: #ffffff;
    font-size: 20px;
    background-color: #0f3650;
    padding: 10px 15px;
    /*border-radius: 4px;*/
}
.modal-title {
    /*color: #0f3650;*/
    /*color: #525e66;*/
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
}
.modal-info {
    font-size: 12px;
}

.modal-reservation-list {
    max-height: 200px;
    overflow: auto;
}
.modal-reservation-list > li{
    padding-left: 3px !important;
}
/* ADMIN CALENDAR MODAL END*/

/* ERROR MESSAGE ALERTS START*/
.message-alert {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}

.message-alert .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0;
    color: inherit;
    background-color: inherit;
    font-size: 25px;
    border: none;
}
/* ERROR MESSAGE ALERTS END */

/*admin-calendar-modal START*/
/*.b-dropdown-form > label {*/
/*    padding: 20px !important;*/
/*}*/

/*!*dropdown b-dropdown m-2 show btn-group*!*/


/*!*admin-calendar-modal END*!*/


/* LOADER START */
.spinner-size-default {
    width: 5rem;
    height: 5rem;
    margin: auto;
}
/* LOADER END */

/* DROP DOWN LOGIN START */
.dropdown-login .dropdown-toggle, .dropdown-login:hover .dropdown-toggle {
    background-color: inherit !important;;
    color: inherit !important;;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.dropdown-login .dropdown-menu {
    top: 25px !important;
    right: 0 !important;
    left:auto !important;
}

@media (max-width: 575px) {
    .dropdown-login .dropdown-menu {
        top: 40px !important;
    }
}
/* DROP DOWN LOGIN END */

/* REGISTER FORM START */
.input-group-prepend .input-group-text {
    border-radius: 3px 0 0 3px !important;
    /*height: 2.035rem !important;*/
    height: 2.3rem !important;
    background-color: #0f3650 !important;
    color: #4ecdb5 !important;
    border-color: #04646a !important;
    /*width: 43px;*/
    /*font-weight: bolder !important;*/
    font-size: 1.15rem;
    padding: 11px;
}
.register-input {
    height: 2.3rem !important;
    border-color: #04646a !important;
}
/* REGISTER FORM END */


/*.input-group-prepend > input {*/
/*    height: 35px !important;*/
/*}*/


.cursor-wait {
    cursor: wait !important;
}
